*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --system-font: "Poppins", sans-serif;
  --light: hsl(0, 0%, 85%);
  --dark: hsl(0, 0%, 25%);
  --darker: hsl(0, 0%, 15%);
  --dark-blue: hsl(231, 96%, 31%);
  --violet: hsl(260, 100%, 66%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--system-font);
  background-color: var(--darker);
  color: hsl(0, 0%, 85%);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-size: 2.4rem;
  font-style: italic;
}

.header__logo {
  font-weight: 400;
}

.header__logo > span {
  color: var(--violet);
}

.wrapper {
  position: relative;
  width: 94%;
  max-width: 1100px;
}

.wrapper__list {
  list-style-type: none;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.wrapper__list::-webkit-scrollbar {
  display: none;
}

.wrapper__list:hover {
  cursor: grab;
}

.wrapper__list--dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.wrapper__list--dragging .wrapper__carrousel-card {
  cursor: grabbing;
  user-select: none;
}

.wrapper__carrousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 16px;
}

.wrapper__carrousel-card {
  height: 350px;
  padding: 1em;
  background-color: var(--light);
  color: var(--darker);
  border-radius: 8px;
  text-align: center;
  scroll-snap-align: start;
}

.wrapper__carrousel-card-image {
  margin-top: 1.15em;
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: top;
  border: 4px solid var(--violet);
  border-radius: 50%;
}

.wrapper__carrousel-card-name {
  margin: .75em 0 .35em;
  font-weight: 600;
}

.wrapper__carrousel-card-jobtitle {
  font-size: 1.8rem;
  color: var(--dark);
}

.wrapper__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper__button img {
  width: 100%;
  height: 100%;
}

.wrapper__button--left {
  left: -1.85em;
}

.wrapper__button--right {
  right: -1.5em;
}

@media screen and (min-width: 576px) {
  .wrapper__carrousel {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
}

@media screen and (min-width: 992px) {
  .wrapper__carrousel {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}