*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --system-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --light: hsl(0, 0%, 85%);
  --dark: hsl(0, 0%, 15%);
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--system-font);
  background-color: var(--dark);
  color: var(--light);
}

.nature-flower {
  background-color: #fd3555;
}

.blue-sky {
  background-color: #2a86ba;
}

.lonely-castle {
  background-color: #252e33;
}

.flying-eagle {
  background-color: #ffb866;
}

.nature-flower-img {
  background-image: url("https://cdn.pixabay.com/photo/2023/04/22/14/15/leaves-7943827_1280.jpg");
}

.blue-sky-img {
  background-image: url("https://cdn.pixabay.com/photo/2020/04/24/02/15/sunrise-5084755_1280.jpg");
}

.lonely-castle-img {
  background-image: url("https://cdn.pixabay.com/photo/2020/05/01/11/00/castle-5116436_1280.jpg");
}

.flying-eagle-img {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/03/16/49/adler-1949973_1280.jpg");
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-slide,
.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform 500ms ease-in-out;
}

.left-slide {
  width: 35%;
  left: 0;
}

.left-slide-content,
.right-slide-content {
  height: 100%;
  width: 100%;
}

.left-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-slide-content > h1 {
  margin-top: -20px;
  margin-bottom: .2em;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1;
}

.right-slide {
  width: 65%;
  right: 0;
}

.right-slide-content {
  background-position: center center;
  background-size: cover;
}

.action-buttons {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.action-buttons > button {
  border: none;
  background-color: var(--light);
  padding: 1em;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.action-buttons > button:hover {
  background-color: var(--dark);
}

.action-buttons > button:focus {
  outline: none;
  background-color: var(--dark);
}

.down-button {
  transform: translateY(50%);
}

.up-button {
  transform: translateY(-50%);
}