*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --system-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --light: hsl(0, 0%, 85%);
  --dark: hsl(0, 0%, 15%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--system-font);
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
}

.background {
  background-image: url("../images/apartment.jpg");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 5rem;
}