*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --system-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --spring-color: #5bca5b;
  --summer-color: #ffd900;
  --autumn-color: #e09213;
  --winter-color: #4198df;
}

[data-bg="spring"] {
  background-color: var(--spring-color);
}

[data-bg="summer"] {
  background-color: var(--summer-color);
}

[data-bg="autumn"] {
  background-color: var(--autumn-color);
}

[data-bg="winter"] {
  background-color: var(--winter-color);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--system-font);
}

.app {
  width: 94%;
  max-width: 1200px;
  display: flex;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5)
}

.app__card {
  margin: 4px;
  height: 600px;
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: flex-grow 800ms ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.app__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity 500ms;
}

.app__card--active {
  flex-grow: 8;
}

.app__card--active::after {
  background-color: rgba(0, 0, 0, 0);
}

.app__card--active > .app__card-text {
  animation: showBackground 800ms 800ms ease-in-out forwards;
}

.app__card--active .app__card-text-season {
  display: none;
}

.app__card--active .app__card-text-description {
  display: block;
  animation: showDescription 800ms 1000ms ease-in-out forwards;
}

.app__card--spring {
  background-image: url("https://cdn.pixabay.com/photo/2016/04/12/10/55/bird-1324088_1280.jpg");
}

.app__card--summer {
  background-image: url("https://cdn.pixabay.com/photo/2013/10/07/18/06/field-192179_1280.jpg");
}

.app__card--autumn {
  background-image: url("https://cdn.pixabay.com/photo/2018/01/18/10/39/fall-3089995_1280.jpg");
}

.app__card--winter {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_1280.jpg");
}

.app__card--spring::before,
.app__card--summer::before,
.app__card--autumn::before,
.app__card--winter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.app__card--spring::before {
  background-color: var(--spring-color);
}

.app__card--summer::before {
  background-color: var(--summer-color);
}

.app__card--autumn::before {
  background-color: var(--autumn-color);
}

.app__card--winter::before {
  background-color: var(--winter-color);
}

.app__card-text {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 1em;
  color: #fff;
  border-radius: 6px;
  z-index: 2;
}

.app__card-text-season {
  text-transform: uppercase;
  transform: rotate(-90deg);
  text-align: center;
}

.app__card-text-description {
  display: none;
  opacity: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

@keyframes showBackground {
  100% {
    background-color: rgba(0, 0, 0, .5);
  }
}

@keyframes showDescription {
  100% {
    opacity: 1;
  }
}