*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 1.6rem;
  background-color: #001d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  width: 90%;
  max-width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22577a;
  overflow: hidden;
}

.navbar__items {
  display: flex;
  list-style-type: none;
}

.navbar__link, .navbar__input, .navbar__button {
  padding: 1em;
}

.navbar__input, .navbar__button {
  border: 2px solid transparent;
}

.navbar__input:focus, .navbar__button:focus {
  outline: none;
  border-color: #0a0908;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f1faee;
  transition: background-color 300ms, color 300ms;
}

.navbar__link:hover {
  background-color: #f1faee;
  color: #22577a;
}

.navbar__search {
  position: relative;
  align-self: stretch;
}

.navbar__search > .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.navbar__search-input {
  width: 250px;
  height: 100%;
  padding: 1em;
  border: 2px solid transparent;
  font-family: "Sen", sans-serif;
  font-size: 1.6rem;
  background-color: #e5e5e5;
  transform: translateX(-50px);
  transition: transform 300ms ease-in-out;
}

.navbar__search-input:focus {
  outline: none;
  border-color: #0d3855;
}

.navbar__search-input--inactive {
  transform: translateX(250px);
}

.navbar__button {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #0d3855;
  cursor: pointer;
}

.navbar__button:focus {
  outline: none;
  border-color: #bbb;
}